<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ami.proj.lightmediator">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" /> <!-- Needed only if your app looks for Bluetooth devices. -->
    <uses-feature android:name="android.software.companion_device_setup"/>
    <!-- For android 11 and lower -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- For android 12 and higher -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <!--
        Needed only if your app communicates with already-paired Bluetooth
         devices.
    -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LightMediator">
        <activity
            android:name=".BluetoothActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RequestPermissionActivity"
            android:exported="false" />
        <activity
            android:name=".TranscriptionActivity"
            android:exported="false" />
        <activity
            android:name=".ConversationActivity"
            android:exported="false" />
        <activity
            android:name=".ConfigConversationActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>